body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #57068C;
    padding: 10px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin: 0 25px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 5px 0;
    transition: color 0.3s;
    text-transform: uppercase;
}

.nav-item a:hover {
    color: #FFC0CB;
}

.active a{
    color: #ff7a90;
}

.content {
    padding: 40px;
    text-align: center;
}